{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}

{% block link %}
  <link href=" {% static 'falcon2/public/vendors/swiper/swiper-bundle.min.css'  %} " rel="stylesheet" />
  <script src="{% static 'falcon2/public/vendors/swiper/swiper-bundle.min.js'%}"></script>
  <link rel="stylesheet" href="{% static 'css/venue_details.css' %}">
{% endblock link %}


{% block title %}
      <title>{{venue.name}}</title>
{% endblock title %}


{% block content %}

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>

        <div class="block_error" style="display: none;">

          <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
            <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
            <p class="mb-0 flex-1">Please choose a user!</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        </div>
        <div class="block_critical" style="display: none;">
          <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
            <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
            <p class="mb-0 flex-1">Invalid Email</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
       
          <div class="row">
            <div class="col-12">
              <div class="card mb-3 btn-reveal-trigger">
                <div class="card-header position-relative min-vh-25 mb-8">
                  <div class="cover-image">
                    <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url({% static 'venue_bg.jpg' %});">
                    </div>
                    <!--/.bg-holder-->

                    <input class="d-none" id="upload-cover-image" type="file" />
                    <label class="cover-image-file-input" for="upload-cover-image"><span class="fas fa-camera me-2"></span><span>Change cover photo</span></label>
                  </div>
                  <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                    <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"> 
                      {% if image_preview %}
                        <img src="{{image_preview.file.url}}" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                      {% else %}
                        <img src={% static 'venue_default.jpg' %} width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                      {% endif %}
                      <input class="d-none" id="profile-image" type="file" />
                      <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span class="bg-holder overlay overlay-0"></span><span class="z-index-1 text-white dark__text-white text-center fs--1"><span class="fas fa-camera"></span><span class="d-block">Edit</span></span></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row g-0">
            <div class="col-lg-8 pe-lg-2">
              <div class="card mb-3">
                <div class="block d-flex justify-content-between align-items-center">
                  <div class="card-header">
                    <h5 class="mb-0">Venue Settings</h5>
                  </div>
                  {% if  not is_allowed_to_change %}
                  <div class="send_request_button" style=" margin-right: 20px">
                    <a class="btn btn-primary" href="{% url 'send_request_to_change_venue' venue.id %}" >Ask permission to change</a>
                  </div>
                  {% endif %}
              </div>
                <div class="card-body bg-light">
                  <form class="row g-3">
                    
                    <div class="col-lg-6" style="align-items: center" >
                            <label class="form-label" for="last-name">Name </label>
                        <p>{{ venue.name }}</p>
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="email1">Address</label>
                      <p>{{ venue.address }}</p>
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" >Zip Code</label>
                        <p>{{venue.zip_code}}</p>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" >City</label>
                          <p>{{venue.city}}</p>
                      </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="phone">Phone</label>
                        <p>{{ venue.phone }}</p>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="email">Email</label>
                        <p>{{ venue.email }}</p>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="capacity">Capacity</label>
                        <p>{{ venue.capacity }}</p>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="age_limit">Age_limit</label>
                        <p>{{ venue.age_limit }}</p>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="opening">Opening</label>
                        <p>{{ venue.opening }}</p>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="closing">Closing</label>
                        <p>{{ venue.closing }}</p>
                    </div>
                    {% if venue.comment %}
                      <div class="col-lg-12">
                          <label class="form-label" for="comment">Comment</label>
                          <p align='justify'>{{ venue.comment }}</p>
                      </div>
                    {% endif %}
                    {% if venue.equipment %}
                      <div class="col-lg-12">
                          <label class="form-label" for="equipment">Equipment</label>
                          <p align='justify'>{{ venue.equipment }}</p>
                      </div>
                    {% endif %}
                    <div class="col-lg-12">
                        <label class="form-label" for="power">Power</label>
                        <div class="block_list" style="display: flex; flex-wrap:wrap; gap:40px">
                          {% for el in venue.power %}
                            <div class="block_item_power">{{el}}</div>
                          {% endfor %}
                        </div>
                    </div>

                      <div class="col-lg-6">
                        <label class="form-label" for="email1">Active - </label>
                        {% if venue.active %}
                            <span style="color: green; font-size: 20px;" class="far fa-check-circle"></span>
                        {% else %}
                            <span style="color: red; font-size: 20px;" class="far fa-times-circle"></span>
                        {% endif %}
                        </div>
                    {% if is_allowed_to_change %}
                    <div style=" width: 90%" class="button-edit-delete d-flex justify-content-start">                    
                      <div class="col-12 ">
                        <a class="btn btn-danger" href="{% url 'delete_venue' venue.id %}" type="submit">Delete </a>
                      </div>
                      <div class="col-12 ">
                        <a class="btn btn-primary" href="{% url 'change_details_venue' venue.id %}" type="submit">Edit </a>
                      </div>
                    </div>

                    {% endif %}
                  </form>
                </div>
              </div>

              <div class="card mb-3">
                {% if contacts_exists and venue_contacts.active or is_allowed_to_change %}
                <div class="card-header">
                  <h5 class="mb-0">Venue contact info</h5>
                </div>
                {% endif %}
                {% if  is_allowed_to_change %}
                <div class="card-body bg-light">
                  <form method="POST">
                    {% csrf_token %}
                    
                    <div class="col-lg-12">
                      <label class="form-label" >Venue User: </label>
                      {% if us %}
                        <a href="{% url 'user_profile_view' us.id %}">{{us.full_name}}</a>
                      {% endif %}
                      <p>{{form.venue_user|add_class:"form-control"}}</p>
                    </div>
                    <div class="col-lg-12">
                      <label class="form-label" >Role</label>
                      <p>{{form.role|add_class:"form-control"}}</p>
                    </div>
                    
                    <div class="block" style="display: flex; justify-content: space-between; align-items:center">
                      <div class="col-6 mb-3">
                        <div class="form-check form-switch">{{ form.active|add_class:'form-check-input'}}<label class="form-check-label" for="flexSwitchCheckDefault">Active </label></div>
                      </div>
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                  </form>                  
                </div>
                {% else %}
                  {% if contacts_exists and venue_contacts.active %}
                  <div class="card-body bg-light">
                      <div class="row g-3">
                        <div class="col-lg-6">
                          <label class="form-label" for="first-name">First Name</label>
                          <p>{{venue_contacts.first_name}}</p>
                        </div>
                        <div class="col-lg-6" style="align-items: center" >
                              <label class="form-label" for="last-name">Last Name </label>
                            <p>{{ venue_contacts.last_name}}</p>
                        </div>
                        <div class="col-lg-6">
                          <label class="form-label" for="email1">Phone</label>
                          <p>{{ venue_contacts.phone }}</p>
                        </div>
                        <div class="col-lg-6">
                          <label class="form-label" >Email</label>
                          <p>{{venue_contacts.epost}}</p>
                        </div>
                        <div class="col-lg-6">
                          <label class="form-label" for="email1">Role</label>
                          <p>{{ venue_contacts.role}}</p>
                        </div>
                        <div class="col-lg-6" style="align-items: center" >
                          <label class="form-label" for="last-name">Active - </label>
                          {% if venue_contacts.active %}
                              <span style="color: green; font-size: 20px;" class="far fa-check-circle"></span>
                          {% else %}
                              <span style="color: red; font-size: 20px;" class="far fa-times-circle"></span>
                          {% endif %}
                        </div>
                      </div>
                      <br>
                  </div>
                  {% endif %}
                {% endif %}
              </div>
              {% if images %}
                  <div class="card mb-3">
                    <div class="card-header">
                      <h5 class="mb-0">Venue Pictures</h5>
                    </div>
                    <div class="row  mb-4">
                      <div class="col-lg-14 mb-4 mb-lg-0">
                        <div class="swiper-container theme-slider" data-swiper='{"autoplay":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"slideToClickedSlide":true}'>
                          <div class="swiper-wrapper">
                            {% for image  in images  %}
                            <div class="swiper-slide" id="imagePreviewBlock"  ><img height='300' class="rounded-1 img-fluid" id="picturePreview" src="{{image.file.url}}" alt="" />
                              {% if is_allowed_to_change %}
                                <a href="{% url 'delete_venue_picture' venue.id image.id %}"  class="top-right "><span class="far fa-times-circle"></span></a>
                              {% endif %}
                            </div>
                            
                            {% endfor %}
                          </div>
                          <div class="swiper-nav">
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endif %}
              {% if is_allowed_to_change and users_have_access %}          
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">Users that have access</h5>
                  </div>
                  <div class="card-body bg-light">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">User</th>
                          <th class="text-center" scope="col">Can edit</th>
                          <th class="text-center">Action</th>
                          <th class="text-center">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user_for in users_have_access %}

                          <tr>
                            <td>{{user_for.access.email}}</td>
                            <td class="text-center">
                              {% if user_for.admin %}
                                <div class="align-center form-check form-switch"><input class="form-check-input" checked id={{user_for.id}} type="checkbox"  /><label class="form-check-label" for="flexSwitchCheckChecked"></label></div>
                              {% else %}
                                <div class="align-center form-check form-switch"><input class="form-check-input" id={{user_for.id}} type="checkbox"  /><label class="form-check-label" for="flexSwitchCheckChecked"></label></div>
                              {% endif %} 
                            </td>
                            <td>

                              <div class="my-box text-center" id="userChange" name={{user_for.id}} style="width:100%">
                                <a class="btn btn-info" name={{user_for.id}} href="#popup1">Change</a>
                              </div>
                              
                            </td>
                            <td><div class="my-box text-center" style="width:100%">
                              
                              <a href="{% url 'delete_user_from_venue_changeble' venue.id  user_for.access.id  %}" class="btn btn-danger">Delete</a>
                            </div></td>
                          </tr>
                          
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                
                </div>
              {% endif %}  
              
             
              
            </div>
            {% if is_allowed_to_change %}
            <div class="col-lg-4 ps-lg-2">
              <div class="sticky-sidebar">
                <div class="card mb-3 pb-4 overflow-hidden">
                  <div class="card-header" style="display: flex; justify-content:space-between; align-items: center">
                    <h5 class="mb-0">User Has Access</h5>
                    <a class="btn btn-info inviteUserSwitch" href="">Invite User</a>
                  </div>

                  {% comment %} invite friend form {% endcomment %}
                  <form class="form_invite_user" action="" style="height:110px; align-items:center; padding:20px; display:none" >
                    {% csrf_token %}
                    <input type="text" class="form-control mb-2" placeholder="Invite user" name="" id="invite_user">
                    
                    <div class="block_add_user" style="display: flex;  margin-top: 10px; justify-content:space-between">
                      <div></div>
                      <button type="submit" class='btn btn-primary' >INVITE</button>
                    </div>
                  </form>

                  {% comment %} add user access to artist {% endcomment %}
                  <form class="form_add_user" action="" style="height:110px; align-items:center; padding:20px" >
                    {% csrf_token %}
                    <select class="form-control" name="users_for_adding" id="users_for_adding">
                      <option value="">--User phone--</option>
                      {% for us in aval_users %}
                            <option value="{{us.phone}}">{{us.phone}}</option>
                      {% endfor %}
                      
                    </select>
                    
                    <div class="block_add_user" style="display: flex;  margin-top: 10px; justify-content:space-between">
                     
                      <div class="form-check form-switch"><input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" checked="" /><label class="form-check-label" for="flexSwitchCheckChecked">Can change?</label></div>
                      <button type="submit" class='btn btn-primary' >ADD</button>
                    </div>
                  </form>
                
              </div>
            </div>

            <div class="col-lg-12 ps-lg-2 venue_pictures ">
              <div class="sticky-sidebar" >
                <div class="card mb-3 overflow-hidden">
                  <div class="card-header">
                    <h5 class="mb-0">Venue pictures</h5>
                  </div>

                  <form class="form_add_user" action="{% url 'upload_picture_handle' venue.id %}"  method="post" enctype="multipart/form-data"  style="height:120px; align-items:center; padding:20px" >
                    {% csrf_token %} 
                    <input class="form-control" type="file" name="images" multiple accept=".png, .jpg, .jpeg"> 
                    <button style="width:100%; margin-top: 10px;" class='btn btn-primary' type="submit" id="pict_upload">upload </button>
                  </form>
                
              </div>
            </div>
            {% endif %}
            
            <div class="col-lg-4 ps-lg-2 venue_events">
              <div class="sticky-sidebar">
                <div class="card mb-3 overflow-hidden">
                  <div class="card-header" style="display: flex; justify-content: space-between; align-items:center">
                    <h5 class="mb-0">Venue Contracts</h5>
                    <a href="{% url 'get_venue_contracts' venue.id today_today %}" class="btn btn-success">All Contracts</a>
                  </div>
                  {% if my_contracts %}
                  <div class="table-responsive scrollbar">
                    <table class="table table-striped overflow-hidden">
                      <thead>
                        <tr class="btn-reveal-trigger">
                          <th scope="col">Artist</th>
                          <th scope="col">Customer</th>
                          {% comment %} <th  scope="col">Company</th> {% endcomment %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for contract in my_contracts %}
                        <tr class="btn-reveal-trigger">
                          <td><a href="{% url 'artist_details' contract.artist.id %}">{{contract.artist.name}}</a></td>
                          <td><a href="{% url 'customer_details' contract.customer.id %}">{{contract.customer.name}}</a></td>
                          {% comment %} <td><a href="{% url 'get_company_details' contract.company.id %}">{{contract.company.name}}</a></td> {% endcomment %}
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                  {% else %}
                    <p class="mb-4"  style="padding-top: 10px; margin-bottom: 5px; text-align:center">This artist does not participate in any event</p>
                  {% endif %}
                </div>
              </div>
            </div>

          
        </div>
        
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


  
    <script type="text/javascript">
      // add user to ones who can change
      var  venueId = "{{ venue.id }}"
      var myForm = document.querySelector(".form_add_user")
      if(myForm){
        myForm.onsubmit = (e) =>{
          e.preventDefault()
          var addedUserphone = document.getElementById("users_for_adding").value
          if (!addedUserphone ){
            console.log("error")
            var errors = document.querySelector(".block_error")
            errors.style.display = "block"
            return
          }
          var radioInputChecked = document.getElementById("flexSwitchCheckChecked").checked
          var url = "{% url 'add_user_permission_to_change_or_see_venue' %}";
          document.location.href = url + venueId + '/' + addedUserphone + "/" + radioInputChecked + "/"
          
        }
      }
      

    // change user permissions
    var changeButtons = document.querySelectorAll("#userChange")
    if (changeButtons){
      for(var i=0; i<changeButtons.length; i++){
        changeButtons[i].onclick = (e) =>{
          var checkInput = document.getElementById(e.target.name)
          var url = "{% url 'change_user_permission_to_change_or_see_venue' %}"
          document.location.href = url + e.target.name + '/' + checkInput.checked + '/'
          }
      } 
    }
    

    // handle picture display
    const HEIGHT = 450;

    var pictList = document.querySelectorAll("#picturePreview")
    pictList.forEach(element => {

        var elHeight = element.height
        element.width *= HEIGHT/element.height;
        element.height = HEIGHT;

        if (elHeight > HEIGHT){
          let imageBlock = element.closest("#imagePreviewBlock")
          imageBlock.style.cssText = `
            text-align: center;
          `;
        }

      });
      const venue_events = document.querySelector(".venue_events")
      const venue_pictures = document.querySelector(".venue_pictures")

        var is_allowed_to_change = "{{is_allowed_to_change}}";
        if (is_allowed_to_change === "True"){
          venue_events.style.cssText = `
            width:102%; 
            margin-left: -2%;
          `;
          venue_pictures.style.cssText = `
            width:101%; 
            margin-left: -1%;
          `;
    }

    {% comment %} invite user {% endcomment %}

    var inviteAddSwitch = document.querySelector(".inviteUserSwitch")
    var form_invite_user = document.querySelector(".form_invite_user")
    inviteAddSwitch.onclick = (e) =>{
      e.preventDefault()
      if (form_invite_user.style.display !== "block"){
        form_invite_user.style.display = "block";
        myForm.style.display = "none"
      }else{
        form_invite_user.style.display = "none";
        myForm.style.display = "block"
      }
    }

    form_invite_user.onsubmit = (e) =>{
      e.preventDefault()
      var invite_user = document.getElementById("invite_user").value
      if (!(invite_user.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/) == invite_user)){
        var errors = document.querySelector(".block_critical")
        errors.style.display = "block"
        return
      }
      if (!invite_user){
          var errors = document.querySelector(".block_error")
          errors.style.display = "block"
          return
      }
      var url = "{% url 'venue_invite_user' %}";
      document.location.href = url + venueId + '/' + invite_user + "/"
      
    }


    </script>


{% endblock %}
