{% extends 'base/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Artists</h5>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <a href="{% url 'admin_add_new_artist' %}" class="btn btn-falcon-default btn-sm me-1 mb-1">
          <span class="fas fa-plus me-1" data-fa-transform="shrink-3"></span>Add Artist
        </a>
      </div>
    </div>
  </div>
  <div class="card-body bg-light pb-0">
    <div class="table-responsive scrollbar">
      {% if artists|length %}
      <table class="table table-hover table-striped overflow-hidden">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Technical raider</th>
            <th scope="col">Hospitality raider</th>
            <th scope="col">Active</th>
            <th></th>
            <th></th>

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for artist in artists %}
          <tr class="align-middle">
            <td class="text-nowrap">
              <div class="d-flex align-items-center">
                <div class="ms-2"><a href="{% url 'admin_change_details_artist' artist.id %}">{{artist.name}}</a></div>
              </div>
            </td>
            <td class="text-nowrap"> {{artist.technical_raider}} </td>
            <td class="text-nowrap"> {{artist.hospitality_raider}} </td>
            {% if artist.active %}
            <td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">active<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span></td>
            {% else %}
            <td><span class="badge badge rounded-pill d-block p-2 badge-soft-danger">disabled<span class="ms-1 fas fa-times" data-fa-transform="shrink-2"></span></span></td>
            {% endif %}
            <td></td>
            <th></th>

            <td><a class="btn btn-danger"  href="{% url 'admin_delete_artist' artist.id %}">delete</a></tr>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        
          <p>There is no artist yet, try to add some</p>
        
      {% endif %}
    </div>
  </div>
  
  </div>
{% endblock %}
