{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block messages %}{% endblock messages %}


{% block title %}
      <title>My Events</title>
{% endblock title %}


{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Events</h5>
      </div>

      {% if has_perm %}
      <div class="col-8 col-sm-auto text-end ps-2">
        <a href="{% url 'add_new_event' %}" class="btn btn-falcon-default btn-sm me-1 mb-1">
          <span class="fas fa-plus me-1" data-fa-transform="shrink-3"></span>Add Event
        </a>
      </div>
      {% endif %}
        
    </div>
  </div>
  <div class="card-body bg-light pb-0">
    <div class="table-responsive scrollbar">
      {% if event_team|length %}
      <table class="table table-hover table-striped overflow-hidden">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Venue</th> 
          </tr>
        </thead>
        <tbody>
          {% for team in event_team %}
          <tr class="align-middle">
            <td class="text-nowrap">
              <div class="d-flex align-items-center">
                <div class="ms-2"><a href="{% url 'get_event_details' team.event.id %}">{{team.event.name}}</a></div>
              </div>
            </td>
             <td class="text-nowrap"> {{team.event.date}} </td>
             <td class="text-nowrap"> <a href="{% url 'get_venue_details' team.event.venue.id %}">{{team.event.venue}}</a> </td>
             
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        
          <p>There is no event yet, try to add some</p>
        
      {% endif %}
    </div>
  </div>
  
  </div>
{% endblock %}
