{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
      <title>Edit: {{form.name.value}}</title>
{% endblock title %}


{% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% if messages %}
 {% for message in messages %}
       <div class="alert alert-primary">
           <strong>{{ message }}</strong>
       </div>
 {% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="row g-0">
  <div class="col-lg-8 pe-lg-2">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center" >
        <h5 class="mb-0">Artist Info</h5>
        <div class="add_ability d-flex justify-content-between align-items-center" 
            >
          

        </div>
        
      </div>
      <div class="card-body bg-light">
          <div class="row gx-2">
            <div class="col-12 mb-3">
              <label class="form-label" for="name">Organization Number</label>
              {{ form.organization_number|add_class:'form-control'}}
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="first_name">Name</label>
              {{ form.name|add_class:'form-control'}}
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="last_name">Address</label>
              {{ form.address|add_class:'form-control'}}
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="email">Zip Coder</label>
              {{ form.zip_code|add_class:'form-control text-lowercase'}}
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="email">City</label>
              {{ form.city|add_class:'form-control'}}
            </div>
            <div class="col-12 mb-3">
              <div class="form-check form-switch">{{ form.active|add_class:'form-check-input'}}<label class="form-check-label" for="flexSwitchCheckDefault">Active customer</label></div>
            </div>
            
            <button class="btn btn-primary me-1 mb-1" type="submit">Save</button>
          </div>
      </div>
    </div>
  </div>
</div>


  <script type="text/javascript">

    var userAilities = document.querySelector(".user-bilities")
    var allAbilities = ("{{userActions|escapejs}}")
    if (allAbilities.length === 13){
      userAilities.style.display = "none"
    }

    var imagess = document.getElementById("image-picker")

    imagess.onchange = (e) =>{
        var image = document.getElementById("Contact_img");
        image.src = URL.createObjectURL(e.target.files[0])
  };


  var addAbilityButton = document.querySelector(".addAbilityButton")
  console.log(addAbilityButton)
  
  addAbilityButton.onclick = (e) =>{
    e.preventDefault()
    inputField = document.getElementById("ability")
    var value = inputField.value
    var url = "{% url 'add_ability' %}";
    document.location.href = url + value


  }



  </script>



{% endblock %}
