#imagePreviewBlock {
    position: relative;
    text-align: center;
}

.top-right {
    color: #F41434;
    font-size: 30px;
    position: absolute;
    top: 5px;
    font-weight: 900;
    right: 10px;
}

.top-right:hover {
    color: #9C2435;
}

.block_item_power::before {
    content: "☑ ";
    color: green;
    font-size: larger;
}