{% extends 'base/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% if messages %}
 {% for message in messages %}
       <div class="alert alert-primary">
           <strong>{{ message }}</strong>
       </div>
 {% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="row g-0">
  <div class="col-lg-8 pe-lg-2">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center" >
        <h5 class="mb-0">New Artist Access</h5>
        <div class="add_ability d-flex justify-content-between align-items-center" 
            >
        </div>
        
      </div>
      <div class="card-body bg-light">
          <div class="row gx-2">
            <div class="col-12 mb-3">
              <label class="form-label" for="first_name">Venue</label>
              {{ form.venue|add_class:'form-control'}}
            </div>
            <div class="col-12 mb-3 file_block">
              <label class="form-label" for="last_name">Requeser</label>
              {{ form.requester|add_class:'form-control'}}
            </div>
            <div class="col-12 mb-3 file_block">
              <label class="form-label" for="last_name">Owner</label>
              {{ form.owner|add_class:'form-control'}}
            </div>
            <div class="col-12 mb-3">
              <div class="form-check form-switch">{{ form.granted|add_class:'form-check-input'}}<label class="form-check-label" for="flexSwitchCheckDefault">Granted</label></div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-check form-switch">{{ form.done|add_class:'form-check-input'}}<label class="form-check-label" for="flexSwitchCheckDefault">Done</label></div>
            </div>

            <button class="btn btn-primary me-1 mb-1" type="submit">Save</button>
          </div>
      </div>
    </div>

  </div>

  
</div>



{% endblock %}
