{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block link %}
  <link rel="stylesheet" href="{% static  'css/artist_add.css' %}">
{% endblock link %}

{% block title %}
      <title>Add Artist</title>
{% endblock title %}


{% block content %}

{% block messages %}{% endblock messages %}


<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="row g-0">
  <div class="col-lg-8 pe-lg-2">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center" >
        <h5 class="mb-0">New Artist</h5>
        <div class="add_ability d-flex justify-content-between align-items-center" 
            >
          

        </div>
        
      </div>
      <div class="card-body bg-light">
          <div class="row gx-2">
            {{form.media}} 
            <div class="col-12 mb-3">
              <label class="form-label" for="first_name">Name</label>
              {{ form.name|add_class:'form-control'}}
              <div class="form-error">
                {{ form.name.errors }}
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="last_name">Technical raider</label>
              {{ form.technical_raider|add_class:'form-control'}}
              <div class="form-error">
                {{ form.technical_raider.errors }}
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="email">Hospitality raider</label>
              {{ form.hospitality_raider|add_class:'form-control text-lowercase'}}
              <div class="form-error">
                {{ form.hospitality_raider.errors }}
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-check form-switch">{{ form.active|add_class:'form-check-input'}}<label class="form-check-label" for="flexSwitchCheckDefault">Active artist</label></div>

              
            </div>
            
            <button class="btn btn-primary me-1 mb-1" type="submit">Create</button>
          </div>
      </div>
    </div>

  </div>

  
</div>


  <script type="text/javascript">

    var userAilities = document.querySelector(".user-bilities")
    var allAbilities = ("{{userActions|escapejs}}")
    if (allAbilities.length === 13){
      userAilities.style.display = "none"
    }

    var imagess = document.getElementById("image-picker")

    imagess.onchange = (e) =>{
        var image = document.getElementById("Contact_img");
        image.src = URL.createObjectURL(e.target.files[0])
  };


  var addAbilityButton = document.querySelector(".addAbilityButton")
  console.log(addAbilityButton)
  
  addAbilityButton.onclick = (e) =>{
    e.preventDefault()
    inputField = document.getElementById("ability")
    var value = inputField.value
    var url = "{% url 'add_ability' %}";
    document.location.href = url + value


  }



  </script>



{% endblock %}
