{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}

{% block link %}
    <link rel="stylesheet" href="{% static  'css/artist_events.css' %}">
{% endblock link %}

{% block title %}
      <title>Contracts: {{artist.name}}</title>
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto align-items-center pe-0" style="width: 98%; display: flex;justify-content:space-between;">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Artist: {{artist.name}}</h5>
        <div class="block" style="margin-bottom: -20px;">
            <ul class="align-items-center" type="none" style="display: flex; gap:10px; justify-content:space-between;">
                <li class="page-item "><a class="page-link " href="{% url 'get_artist_contracts' artist.id today_date|get_date_with_time_delta:-7%}" aria-label="Previous"><span class='btn btn-danger' aria-hidden="true">&laquo;</span><span class="sr-only "></span></a></li>
                {% comment %} {% for i in '1234567'|make_list %}
                    {% if  today_date|get_date_with_time_delta:forloop.counter0 == today_today %}
                        {% if forloop.counter0 == 0 %}
                            <li style="font-size: 10px; box-shadow: 1px 1px 10px black;" class="btn btn-primary">
                                <a style="color:white; " href="{% url 'get_artist_contracts' artist.id today_date|get_date_with_time_delta:forloop.counter0%}">
                                    <div class="day_name">
                                        {{today_date|get_day_name_with_time_delta:forloop.counter0}}
                                    </div>
                                    <div class="date_date">
                                        {{ today_date|get_date_with_time_delta:forloop.counter0 }}
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li style="font-size: 10px;" class="btn btn-primary">
                                <a style="color:white" href="{% url 'get_artist_contracts' artist.id today_date|get_date_with_time_delta:forloop.counter0%}">
                                    <div class="day_name">
                                        {{today_date|get_day_name_with_time_delta:forloop.counter0}}
                                    </div>
                                    <div class="date_date">
                                        {{ today_date|get_date_with_time_delta:forloop.counter0 }}
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                        
                    {% else %}
                        
                        {% if forloop.counter0 == 0 %}
                            <li style="font-size: 10px; box-shadow: 1px 1px 10px black; background: #B4D5AD;" class="btn " >
                                <a style="color:black" href="{% url 'get_artist_contracts' artist.id today_date|get_date_with_time_delta:forloop.counter0%}">
                                    <div class="day_name">
                                        {{today_date|get_day_name_with_time_delta:forloop.counter0}}
                                    </div>
                                    <div class="date_date">
                                        {{ today_date|get_date_with_time_delta:forloop.counter0 }}
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li style="font-size: 10px;  background: #B4D5AD;" class="btn ">
                                <a style="color:black" href="{% url 'get_artist_contracts' artist.id today_date|get_date_with_time_delta:forloop.counter0%}">
                                    <div class="day_name">
                                        {{today_date|get_day_name_with_time_delta:forloop.counter0}}
                                    </div>
                                    <div class="date_date">
                                        {{ today_date|get_date_with_time_delta:forloop.counter0 }}
                                    </div>
                                </a>
                            </li>
                        {% endif %}

                       
                    {% endif %}
                    
                {% endfor %} {% endcomment %}
                {% for elem in week_days_list %}
                    {% if elem == today_today %}
                        {% if elem == today_date %}
                        
                            <li style="font-size: 10px;  background: #9BC2E5; box-shadow: 0 0 10px black" class="btn ">
                                <a style="color:black" href="{% url 'get_artist_contracts' artist.id elem %}">
                                    <div class="day_name">
                                        {{elem|get_day_name}}
                                    </div>
                                    <div class="date_date">
                                        {{ elem }}
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li style="font-size: 10px;  background: #9BC2E5;" class="btn ">
                                <a style="color:black" href="{% url 'get_artist_contracts' artist.id elem %}">
                                    <div class="day_name">
                                        {{elem|get_day_name}}
                                    </div>
                                    <div class="date_date">
                                        {{ elem }}
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if elem == today_date %}
                            <li style="font-size: 10px;  background: #B4D5AD; box-shadow: 0 0 10px black;" class="btn ">
                                <a style="color:black" href="{% url 'get_artist_contracts' artist.id elem %}">
                                    <div class="day_name">
                                        {{elem|get_day_name}}
                                    </div>
                                    <div class="date_date">
                                        {{ elem }}
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li style="font-size: 10px;  background: #B4D5AD;" class="btn ">
                                <a style="color:black" href="{% url 'get_artist_contracts' artist.id elem %}">
                                    <div class="day_name">
                                        {{elem|get_day_name}}
                                    </div>
                                    <div class="date_date">
                                        {{ elem }}
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                
                {% endfor %}
                <li class="page-item "><a class="page-link " href="{% url 'get_artist_contracts' artist.id today_date|get_date_with_time_delta:7%}" aria-label="Previous"><span class='btn btn-danger' aria-hidden="true">&raquo;</span><span class="sr-only "></span></a></li>
                
            </ul>
        </div>
      </div>
  
    </div>
  </div>
  <div class="card-body bg-light pb-0">
    <div class="table-responsive scrollbar">
      {% if contracts|length %}
      <div class="container">
        <div class="row" id="main">
            {% for contract in contracts %}

            <div class="card mb-3" style="max-width: 1800px;">
                <div class="row g-0" id="row_row">
                    <div class="col-md-4" id="col_header" style="margin-bottom: 30px;">
                        <div class="card-header">
                            Customer: <a href="{% url 'customer_details' contract.customer.id %}">{{contract.customer.name}}</a>
                        </div>
                        {% if contract.venue|get_image %}
                            <img src="{{ contract.venue|get_image }}" width="600px" class="img-fluid rounded-start" alt="...">
                        {% else %}
                            <img src="{% static 'venue_default.jpg' %}" width="600px" class="img-fluid rounded-start" alt="...">
                    
                        {% endif %}
                    </div>
            
                    <div class="col-md-8">
            
                        <div class="card-body" >
                            <div class="div_block" >
                                
                                <div class="block">
                                    <div class="col-lg-6">
                                        <label style=" color:black" class="form-label" for="date">Venue:</label>
                                        <p><a href="{% url 'get_venue_details' contract.venue.id %}">{{contract.venue.name}}</a></p>
                                    </div>
                                    {% if contract.company %}
                                        <div class="col-lg-6">
                                            <label style=" color:black" class="form-label" for="date">Company:</label>
                                            <p>{{contract.company.name}}</p>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-6">
                                        <label style=" color:black" class="form-label" for="date">Date:</label>
                                        <p>{{contract.date}}</p>
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        <label style=" color:black" class="form-label" for="price">Price:</label>
                                        <p>{{contract.price}}</p>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    {% if user|has_access_to_customer:contract.customer %}
                                      <a class="btn btn-danger" href="{% url 'cancel_contract' contract.id 0 %}">Delete</a>
                                      <a class="btn btn-info" href="{% url 'customer_edit_contract' contract.id %}">Edit</a>
                                    {% endif %}
                                    <a class="btn btn-secondary" href="{% url 'preview_artist_contract' contract.id %}">Read more</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

      {% else %}
        <p>This is no any event for this date</p>

      {% endif %}
    </div>
  </div>
  
  </div>
{% endblock %}
