{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}


{% block link %}
  <link href="{% static 'css/popup.css' %}" rel="stylesheet">
{% endblock link %}

{% block title %}
      <title>{{artist.name}}</title>
{% endblock title %}


{% block content %}

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        
        <div class="block_error" style="display: none;">

          <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
            <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
            <p class="mb-0 flex-1">Please choose a user!</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        </div>
        <div class="block_critical" style="display: none;">
          <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
            <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
            <p class="mb-0 flex-1">Invalid Email</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
       
          <div class="row">
            <div class="col-12">
              <div class="card mb-3 btn-reveal-trigger">
                <div class="card-header position-relative min-vh-25 mb-8">
                  <div class="cover-image" >
                    <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url({% static 'bg.jpg' %});">
                    </div>
                    <!--/.bg-holder-->

                    <input class="d-none" id="upload-cover-image" type="file" />
                    <label class="cover-image-file-input" for="upload-cover-image"><span class="fas fa-camera me-2"></span><span>Change cover photo</span></label>
                  </div>
                  <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                    <div class="h-100 w-100 rounded-circle overflow-hidden position-relative" > 

                      {% comment %} {% if artist|check_image %} {% endcomment %}
                        <img src="{% static 'd_user.png' %}" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                      {% comment %} {% else %} {% endcomment %}
                        {% comment %} <img src={% static 'default_contact_img.png' %} width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" /> {% endcomment %}
                      {% comment %} {% endif %} {% endcomment %}
                      <input class="d-none" id="profile-image" type="file" />
                      <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span class="bg-holder overlay overlay-0"></span><span class="z-index-1 text-white dark__text-white text-center fs--1"><span class="fas fa-camera"></span><span class="d-block">Edit</span></span></label>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-0">
            <div class="col-lg-8 pe-lg-2">
              <div class="card mb-3">
                <div class="block d-flex justify-content-between align-items-center">
                  <div class="card-header">
                    <h5 class="mb-0">Profile Settings</h5>
                  </div>
                  {% if  not is_allowed_to_change %}
                  <div class="send_request_button" style=" margin-right: 20px">
                    <a class="btn btn-primary" href="{% url 'send_request_to_change' artist.id %}" >Ask permission to change</a>
                  </div>
                  {% endif %}
              </div>
                <div class="card-body bg-light">
                  <form class="row g-3">
                    <div class="col-lg-6">
                      <label class="form-label" for="first-name">Name</label>
                      <p>{{artist.name}}</p>
                    </div>
                    <div class="col-lg-6" style="align-items: center" >
                          <label class="form-label" for="last-name">Active - </label>
                        {% if artist.active %}
                            <span style="color: green; font-size: 20px;" class="far fa-check-circle"></span>
                        {% else %}
                            <span style="color: red; font-size: 20px;" class="far fa-times-circle"></span>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="email1">Technical Raider</label>
                      <div><a href="{% url 'load_tech_rider' artist.id %}">technical rider</a></div>
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" >Hospitality Raider</label>
                      <div><a href="{% url 'load_hosp_rider' artist.id %}">hospitality raider</a></div>
                    </div>
                    {% if user.is_staff or is_allowed_to_change %}
                    <div style=" width: 90%" class="button-edit-delete d-flex justify-content-start">                    
                      <div class="col-12 ">
                        <a class="btn btn-danger" href="{% url 'delete_artist' artist.id %}" type="submit">Delete </a>
                      </div>
                      <div class="col-12 ">
                        <a class="btn btn-primary" href="{% url 'change_artist' artist.id %}" type="submit">Edit </a>
                      </div>
                    </div>

                    {% endif %}
                  </form>
                </div>
              </div>
             
              {% if artist_files or is_allowed_to_change %}
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">User assets</h5>
                </div>
                <div class="card-body bg-light">
                  
                  {% if is_allowed_to_change %}
                  <form action="{% url 'artist_details' artist.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12 mb-3" id="file-picker">
                      <label class="form-label" for="picture">Files:</label>
                      <br>
                      <input class="form-control" value="{{artist_assets.file}}" type="file" multiple name="pdf"  id="">
                      {% if artist_files %}
                      <div class="block_files" >

                        <div class="table-responsive scrollbar" style="width:fit-content">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">File name</th>
                                <th class="text-end" scope="col">Delete</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for file in artist_files %}

                                <tr>
                                  <td><a target="blank" href="{{file.file.url}}">{{file.name}}</a></td>
                                  <td class="text-end">
                                    <div><a class="btn p-0 ms-2" href="{% url 'delete_artist_file' artist.id file.id %}" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-500 fas fa-trash-alt"></span></a></div>
                                  </td>
                                </tr>
                              {% endfor %}
                              
                            </tbody>
                          </table>
                        </div>
                        {% comment %} <div class="col-12  mt-1"  id="image-picker">
                          <a class="badge rounded-pill badge-soft-secondary" href="{{file.file.url}}" target="blank" >{{file.name}}</a>

                        </div> {% endcomment %}
                          
                      </div>
                      {% endif %}
                    </div>
                    <div class="col-12 mb-3" id="credit">
                      <label class="form-label" for="picture">Credit:</label>
                      <br>
                      <input type="text" value="{{artist_assets.credit}}" name="credit" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary me-1 mb-1" > Add </button>
                  </form>
                  {% else %}
                    {% if artist_assets.file %}
                    {% for file in artist_files %}
                        <div class="col-12 mb-3" id="image-picker" style="display: flex; gap:30px">
                          <p>File:</p>
                          <a target="blank" href="{{file.file.url}}">{{file}}</a>
                        </div>
                      {% endfor %}
                      {% comment %} <source src="{{artist_assets.file.url}}" type="audio/mpeg"> {% endcomment %}

                    {% endif %}
                    {% if artist_assets.credit %}
                      <div class="col-12 mb-3" id="image-picker">
                        <label class="form-label" for="picture">Credit</label>
                        <br>
                        <p>{{artist_assets.credit}}</p>

                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              {% endif %}

              {% if is_allowed_to_change and users_has_access %}      
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">Users that has access</h5>
                  </div>
                  <div class="card-body bg-light">
                    <table class="table table-bordered ">
                      <thead>
                        <tr>
                          <th scope="col">User</th>
                          <th class="" style="width:13%" scope="col">Can edit</th>
                          <th class="text-center">Action</th>
                          <th class="text-center">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user_for in users_has_access %}

                          <tr class="table-has-access-row table-hover" >
                            <td><a href="{% url 'user_profile_view' user %}">{{user_for.access.email}}</a></td>
                            <td class="text-center">
                              {% if user_for.admin %}
                                <div class="align-center form-check form-switch"><input class="form-check-input" checked id={{user_for.id}} type="checkbox"  /><label class="form-check-label" for="flexSwitchCheckChecked"></label></div>
                              {% else %}
                                <div class="align-center form-check form-switch"><input class="form-check-input" id={{user_for.id}} type="checkbox"  /><label class="form-check-label" for="flexSwitchCheckChecked"></label></div>
                              {% endif %} 
                            </td>
                            <td>

                              <div class="my-box text-center" id="userChange" name={{user_for.id}} style="width:100%">
                                <a class="btn btn-info" name={{user_for.id}} href="#popup1">Change</a>
                              </div>
                              
                            </td>
                            <td><div class="my-box text-center" style="width:100%">
                              
                              <a href="{% url 'delete_user_from_changeble' artist.id user_for.access.id %}" class="btn btn-danger">Delete</a>
                            </div></td>
                            
                          </tr>
                          
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                
                </div>
              {% endif %}  
          </div>
            {% if is_allowed_to_change %}
            <div class="col-lg-4 ps-lg-2">
              <div class="sticky-sidebar">
                <div class="card mb-3 pb-4 overflow-hidden">
                  <div class="card-header" style="display: flex; justify-content:space-between; align-items: center">
                    <h5 class="mb-0">User Has Access</h5>
                    <a class="btn btn-info inviteUserSwitch" href="">Invite User</a>
                  </div>

                  {% comment %} invite friend form {% endcomment %}
                  <form class="form_invite_user" action="" style="height:110px; align-items:center; padding:20px; display:none" >
                    {% csrf_token %}
                    <input type="text" class="form-control mb-2" placeholder="Invite user" name="" id="invite_user">
                    
                    <div class="block_add_user" style="display: flex;  margin-top: 10px; justify-content:space-between">
                      <div></div>
                      <button type="submit" class='btn btn-primary' >INVITE</button>
                    </div>
                  </form>

                  {% comment %} add user access to artist {% endcomment %}
                  <form class="form_add_user" action="" style="height:110px; align-items:center; padding:20px" >
                    {% csrf_token %}
                    <select class="form-control" name="users_for_adding" id="users_for_adding">
                      <option value="">--User phone--</option>
                      {% for us in aval_users %}
                            <option value="{{us.phone}}">{{us.phone}}</option>
                      {% endfor %}
                      
                    </select>
                    
                    <div class="block_add_user" style="display: flex;  margin-top: 10px; justify-content:space-between">
                     
                      <div class="form-check form-switch"><input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" checked="" /><label class="form-check-label" for="flexSwitchCheckChecked">Can change?</label></div>
                      <button type="submit" class='btn btn-primary' >ADD</button>
                    </div>
                  </form>
                
              </div>
            </div>
            {% endif %}

            <div class="col-lg-4 ps-lg-2 artist_events">
              <div class="sticky-sidebar">
                <div class="card mb-3 overflow-hidden">
                  <div class="card-header" style="display: flex; justify-content: space-between; align-items:center">
                    <h5 class="mb-0">Artist Contracts</h5>
                    <a href="{% url 'get_artist_contracts' artist.id date%}" class="btn btn-success">All Contracts</a>
                  </div>
                  {% if my_contracts %}
                  <div class="table-responsive scrollbar">
                    <table class="table table-striped overflow-hidden">
                      <thead>
                        <tr class="btn-reveal-trigger">
                          <th scope="col">Customer</th>
                          <th scope="col">Venue</th>
                          {% comment %} <th  scope="col">Company</th> {% endcomment %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for contract in my_contracts %}
                        <tr class="btn-reveal-trigger">
                          <td><a href="{% url 'customer_details' contract.customer.id %}">{{contract.customer.name}}</a></td>
                          <td><a href="{% url 'get_venue_details' contract.venue.id %}">{{contract.venue.name}}</a></td>
                          {% comment %} <td><a href="{% url 'get_company_details' contract.company.id %}">{{contract.company.name}}</a></td> {% endcomment %}
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                  {% else %}
                    <p class="mb-4"  style="padding-top: 10px; margin-bottom: 5px; text-align:center">This artist does not participate in any event</p>
                  {% endif %}

                  <ul type="none">
                    
                      <li>{{event}}</li>
                  </ul>
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <script type="text/javascript">
      // add user to ones who can change
      var  artist_id = "{{ artist.id }}"
      var myForm = document.querySelector(".form_add_user")
      if (myForm){
        myForm.onsubmit = (e) =>{
          e.preventDefault()
          var addedUserphone = document.getElementById("users_for_adding").value
          if (!addedUserphone ){
            console.log("error")
            var errors = document.querySelector(".block_error")
            errors.style.display = "block"
            return
          }
          console.log("add")
          var radioInputChecked = document.getElementById("flexSwitchCheckChecked").checked
          var url = "{% url 'add_user_permission_to_change_or_see' %}";
          document.location.href = url + artist_id + '/' + addedUserphone + "/" + radioInputChecked + "/"
            
        }
      }
      

    // change user permissions
    var changeButtons = document.querySelectorAll("#userChange")
    for(var i=0; i<changeButtons.length; i++){
      changeButtons[i].onclick = (e) =>{
        var checkInput = document.getElementById(e.target.name)
        
        var url = "{% url 'change_user_permission_to_change_or_see' %}"
        document.location.href = url + e.target.name + '/' + checkInput.checked + '/'
        }
    }


    const artist_events = document.querySelector(".artist_events")
    var is_allowed_to_change = "{{is_allowed_to_change}}";
    if (is_allowed_to_change === "True"){
      artist_events.style.cssText = `
        width:101%; 
        margin-left: -1%;
      `;
    }
    
    
    var inviteAddSwitch = document.querySelector(".inviteUserSwitch")
    var form_invite_user = document.querySelector(".form_invite_user")
    inviteAddSwitch.onclick = (e) =>{
      e.preventDefault()
      if (form_invite_user.style.display !== "block"){
        form_invite_user.style.display = "block";
        myForm.style.display = "none"
      }else{
        form_invite_user.style.display = "none";
        myForm.style.display = "block"
      }
    }

    form_invite_user.onsubmit = (e) =>{
      e.preventDefault()
      var invite_user = document.getElementById("invite_user").value
      if (!(invite_user.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/) == invite_user)){
        var errors = document.querySelector(".block_critical")
        errors.style.display = "block"
        return
      }
      if (!invite_user){
          var errors = document.querySelector(".block_error")
          errors.style.display = "block"
          return
      }

      var url = "{% url 'invite_user' %}";
      document.location.href = url + artist_id + '/' + invite_user + "/"
      
    }

    //table-has-access-row
    var table_has_access_row = document.querySelector(".table-has-access-row")
    table_has_access_row.onclick = () =>{
      var block_under_has_access_row = document.querySelector(".block_under_has_access_row")
      if(block_under_has_access_row.style.display === 'none'){
        block_under_has_access_row.style.display = "block"
      }else{
        block_under_has_access_row.style.display = "none"
      }
    }

    </script>


{% endblock %}




