{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}

{% block title %}
      <title>My Artists</title>
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">My artists</h5>
      </div>
      {% if has_perm %}
      <div class="col-8 col-sm-auto text-end ps-2">
        <a href="{% url 'add_artist' %}" class="btn btn-falcon-default btn-sm me-1 mb-1">
          <span class="fas fa-plus me-1" data-fa-transform="shrink-3"></span>Add Artist
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="card-body bg-light pb-0">
    <div class="table-responsive scrollbar">
      {% if artistsAccess|length %}
      <table class="table table-hover table-striped overflow-hidden">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Contracts</th>
            <th scope="col">Viewers</th>
            <th scope="col">Assets</th>
            <th scope="col">Active</th>
          </tr>
        </thead>
        <tbody>
          {% for artist_access in artistsAccess %}
          <tr class="align-middle">
            <td class="text-nowrap">
              <div class="d-flex align-items-center">
                <div class="ms-2"><a href="{% url 'artist_details' artist_access.artist.id %}">{{artist_access.artist.name}}</a></div>
              </div>
            </td>
            <td>{{artist_access.artist|artist_contracts_count}}</td>
            <td>{{artist_access.artist|artist_viewers_count}}</td>
            <td>{{artist_access.artist|artist_assets_count}}</td>
            
            {% if artist_access.artist.active %}
            <td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">Yes<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span></td>
            {% else %}
            <td><span class="badge badge rounded-pill d-block p-2 badge-soft-danger">No<span class="ms-1 fas fa-times" data-fa-transform="shrink-2"></span></span></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        {% if has_perm %}
          <p>There is no artist yet, try to add some</p>
        
        {% else %}
          <p>There is no artist yet and you are not allowed to add some</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
  
  </div>
{% endblock %}
