{% extends 'base/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}



{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% if messages %}
 {% for message in messages %}
       <div class="alert alert-primary">
           <strong>{{ message }}</strong>
       </div>
 {% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="row g-0">
  <div class="col-lg-8 pe-lg-2">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center" >
        <h5 class="mb-0">New Venue</h5>
        <div class="add_ability d-flex justify-content-between align-items-center" 
            >
        </div>
        
      </div>
      <div class="card-body bg-light">
          <div class="row gx-2">
            <div class="mb-3 col-sm-6">
              <label class="form-label" for="name">Name</label>
              {{ form.name|add_class:'form-control'  }}
          </div>
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="address">Address</label>
              {{ form.address|add_class:'form-control'  }}
           </div>
      </div>
      <div class="row gx-2">
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="zip_code">Zip Code</label>
              {{ form.zip_code|add_class:'form-control'  }}
          </div>
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="city">City</label>
              {{ form.city|add_class:'form-control'  }}
           </div>
      </div>
      <div class="row gx-2">
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="phone">Phone</label>
              {{ form.phone|add_class:'form-control'  }}
          </div>
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="email">Email</label>
              {{ form.email|add_class:'form-control'  }}
           </div>
      </div>
      <div class="row gx-2">
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="capacity">Capacity</label>
              {{ form.capacity|add_class:'form-control'  }}
          </div>
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="age_limit">Age limit</label>
              {{ form.age_limit|add_class:'form-control'  }}
           </div>
      </div>
      <div class="row gx-2">
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="opening">Opening</label>
              {{ form.opening|add_class:'form-control '  }}
          </div>
          <div class="mb-3 col-sm-6">
              <label class="form-label" for="closing">Closing</label>
              {{ form.closing|add_class:'form-control'  }}
           </div>
          <div class="col-12 mb-3">
              <label class="form-label" for="comment">Comment</label>
              {{ form.comment|add_class:'form-control'  }}
          </div>
          <div class="col-12 mb-3">
              <label class="form-label" for="equipment">Equipment</label>
              {{ form.equipment|add_class:'form-control'  }}
          </div>
          <div class="col-12 mb-3 ва">
              <label class="form-label" for="power">Power</label>
                  {{ form.power}}
          </div>

          <div class="col-12 mb-3">
            <div class="form-check form-switch">{{ form.active|add_class:'form-check-input'}}<label class="form-check-label" for="flexSwitchCheckDefault">Active</label></div>
          </div>

            <label class="form-label" >Creator</label>
            <select class="form-control" name="user" id="user">
              <option value="">--Please choose an option--</option>
              {% for us in users %}
                    <option value="{{us.email}}">{{us.email}}</option>
              {% endfor %}
              
            </select>

            <div class="col-12 mb-3">
              <div class="form-check form-switch">{{ form.active|add_class:'form-check-input'}}<label class="form-check-label" for="flexSwitchCheckDefault">Active </label></div>
            </div> 
            <button class="btn btn-primary me-1 mb-1" type="submit">Create</button>
          </div>
      </div>
    </div>

  </div>

  
</div>



{% endblock %}
