{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}

{% block link %}
    <link rel="stylesheet" href="{% static  'css/artist_events.css' %}">
{% endblock link %}

{% block title %}
      <title>Contracts: {{customer.name}}</title>
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto  align-items-center pe-0" style="width:99%; display: flex; justify-content: space-between;">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Customer: {{customer.name}}</h5>
        <div class="block" style="margin-bottom: -10px;">
            {% if not hidden %}
                <ul class="align-items-center" type="none" style="display: flex; gap:10px; justify-content:space-between;">
                    {% if today_today not in week_days_list %}
                        <li style="font-size: 10px;  background: wheat;" class="btn">
                            <a style="color: blue"  href="{% url 'get_all_contracted_artists' customer.id today_today %}">
                                today
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item "><a class="page-link " href="{% url 'get_all_contracted_artists' customer.id today_date|get_date_with_time_delta:-7%}" aria-label="Previous"><span class='btn btn-danger' aria-hidden="true">&laquo;</span><span class="sr-only "></span></a></li>
                    {% for elem in week_days_list %}
                        {% if elem == today_today %}
                            
                            {% if elem == today_date %}
                                <li style="font-size: 10px;  box-shadow: 0 0 10px black;" class="btn today_date" id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_all_contracted_artists' customer.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li style="font-size: 10px; " class="btn today_date" id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_all_contracted_artists' customer.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if elem == today_date %}
                                <li style="font-size: 10px; box-shadow: 0 0 10px black;" class="btn" id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_all_contracted_artists' customer.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li style="font-size: 10px;" class="btn " id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_all_contracted_artists' customer.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <li class="page-item "><a class="page-link " href="{% url 'get_all_contracted_artists' customer.id today_date|get_date_with_time_delta:7%}" aria-label="Previous"><span class='btn btn-danger' aria-hidden="true">&raquo;</span><span class="sr-only "></span></a></li>
                </ul>
            {% else %}
                <a href="{% url 'get_all_contracted_artists' customer.id today_today %}" class="btn btn-success">Visible</a>
            {% endif %}
        </div>
      </div>
      <div class="block-flex mt-3" style="display: flex; justify-content: space-between" >
          <div class="elem"></div>
        <div class="block">
            {% if not hidden %}
                <a class="btn btn-light" href="{% url 'get_hidden_contracts_list' customer.id %}">Hidden</a>
                <a class="btn btn-outline-primary  me-1 mb-1"   href="{% url 'customer_create_contract' customer.id %}">Make Contract</a>
            {% endif %}
            </div>
      </div>
    </div>
  </div>
  <div class="card-body bg-light pb-0">
      {% if artists|length %}
      <div class="container">
        <div class="row" id="main">
            {% for artist in artists %}

            <div class="card mb-3" style="max-width: 1800px;">
                <div class="row g-0" id="row_row">
                    <div class="col-md-4" id="col_header" style="margin-bottom: 30px;">
                        <div class="card-header">
                            Artist: <a href="{% url 'artist_details' artist.artist.id %}">{{artist.artist.name}}</a>
                        </div>
                        {% if artist.venue|get_image %}
                            <img src="{{ artist.venue|get_image }}" width="600px" class="img-fluid rounded-start" alt="...">
                        {% else %}
                            <img src="{% static 'venue_default.jpg' %}" width="600px" class="img-fluid rounded-start" alt="...">
                    
                        {% endif %}
                    </div>
                    <div class="col-md-8">
            
                        <div class="card-body" >
                            <div class="div_block" >
                                
                                <div class="block">
                                    <div class="col-lg-6">
                                        <label style=" color:black" class="form-label" for="date">Venue:</label>
                                        <p><a href="{% url 'get_venue_details' artist.venue.id %}">{{artist.venue.name}}</a></p>
                                    </div>
                                    {% if artist.company %}
                                        <div class="col-lg-6">
                                            <label style=" color:black" class="form-label" for="date">Company:</label>
                                            <p>{{artist.company}}</p>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-6">
                                        <label style=" color:black" class="form-label" for="date">Date:</label>
                                        <p>{{artist.date}}</p>
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        <label style=" color:black" class="form-label" for="price">Price:</label>
                                        <p>{{artist.price}}</p>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    {% if artist.contract_pdf_url %}
                                        <a class="btn btn-success" target="blank" href="{{artist.contract_pdf_url}}">Contract</a>
                                    {% else %}
                                        <a class="btn btn-success disabled" target="blank" href="{{artist.contract_pdf_url}}">Contract</a>
                                    {% endif %}
                                    {% if hidden %}
                                        <a class="btn btn-warning" href="{% url 'unhide_contract' artist.id %}">Unhide</a>
                                    {% else %}
                                        <a class="btn btn-warning" href="{% url 'hide_contract' artist.id %}">Hide</a>
                                    {% endif %}
                                    <a class="btn btn-info" href="{% url 'customer_edit_contract' artist.id %}">Edit</a>
                                    <a class="btn btn-secondary" href="{% url 'preview_artist_contract' artist.id %}">Read more</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

      {% else %}
        {% if hidden %}
            <p>There is no any hidden contract</p>
        {% else %}
            <p>This custoer has no contarct</p>
        {% endif %}

      {% endif %}
    </div>
  </div>
  
  </div>


  <script>
    var today_date_elem = document.querySelector(".today_date")
    today_date_elem.style.position = "relative"
    today_date_elem.innerHTML  = "<span style='position:absolute; top:-20px; left: 35%' class='today_date_pointer'>today</span>" + today_date_elem.innerHTML
</script>


{% endblock %}
