{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}


{% block link %}
    <link rel="stylesheet" href="{% static  'css/artist_events.css' %}">
{% endblock link %}

{% block title %}
    {% if hidden %}
        <title>Hidden Contracts: {{user.get_full_name}}</title>
    {% else %}
        <title>Contracts: {{user.get_full_name}}</title>
    {% endif %}
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto  align-items-center pe-0" style="width:99%; display: flex; justify-content: space-between;">
        <div class="btn btn-falcon-default me-1 mb-1 disabled">{{user.get_full_name}}</div>
        <div class="block">
            {% if not hidden %}
                <a class="btn btn-light" href="{% url 'get_hidden_contracts_for_user' user.id %}">Hidden</a>
                {% if user|user_company_admin %}
                    <a class="btn btn-outline-primary  me-1 mb-1"   href="{% url 'customer_create_contract_from_user' user.id %}">Make Contract</a>
                {% endif %}
            {% else %}
                <a class="btn btn-success" href="{% url 'get_visible_contracts_for_user' user.id %}">Visible</a>
            {% endif %}
        </div>

      </div>
    
  
    </div>
  </div>
  <div class="card-body bg-light pb-0">
      {% if contracts|length %}
      <div class="container">
        <div class="row" id="main">
            

            <div class="card mb-3" style="max-width: 1800px;">
                <div class="row g-0" id="row_row">
                    <table class="table table-hover table-striped overflow-hidden contract_table_list">
                    <thead>
                        <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Company</th>
                        <th score="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contract in contracts %}
                            <tr class="align-middle table_contract_main_row" id="{{contract.id|get_name_hidden_block_contract}}">
                                <td>{{contract.date}}</td>
                                <td class="text-nowrap">
                                    <div class="d-flex align-items-center">
                                        <div class="ms-2"><a href="{% url 'artist_details' contract.artist.id -1 %}">{{contract.artist.name}}</a></div>
                                    </div>
                                </td>
                                <td><div class="block">
                                    <a href="{% url 'customer_details' contract.customer.id %}">{{contract.customer.name}}</a>
                                </div></td>
                                <td><div class="block">
                                    <a href="{% url 'get_company_details' contract.company.id %}">{{contract.company.name}}</a>
                                </div></td>
                                <td><div class="block">
                                    <a href="{% url 'get_venue_details' contract.venue.id %}">{{contract.venue.name}}</a>
                                </div></td>
                                
                                <td>{{contract.price}} <span>NOK</span></td>
                            </tr>
                            <tr class="{{contract.id|get_name_hidden_block_contract}}" style="display: none;">
                                <td colspan="6">
                                    <div class="block" style="display: flex; justify-content:space-around; width: 100%">
                                        {% if contract.contract_pdf_url %}
                                            <a class="btn btn-success" target="blank" href="{{contract.contract_pdf_url}}">Contract</a>
                                        {% else %}
                                            <a class="btn btn-success disabled" target="blank" href="{{contract.contract_pdf_url}}">Contract</a>
                                        {% endif %}
                                        {% if user|is_allowed_to_change:contract %}
                                            {% if hidden %}
                                                <a class="btn btn-warning" href="{% url 'unhide_contract_from_user' contract.id  %}">Unhide</a>
                                            {% else %}
                                                <a class="btn btn-warning" href="{% url 'hide_contract_from_user' contract.id  %}">Hide</a>
                                            {% endif %}
                                            <a class="btn btn-info" href="{% url 'user_edit_contract' contract.id %}">Edit</a>
                                        {% endif %}
                                        <a class="btn btn-secondary" href="{% url 'preview_artist_contract' contract.id %}">Read more</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

      {% else %}
        {% if hidden %}
            <p>There is no any hidden contract</p>
        {% else %}
            <p>This custoer has no contarct</p>
        {% endif %}

      {% endif %}
    </div>
  </div>
  
  </div>

  <script>

    //table hidden block handle
    var contract_table = document.querySelector(".contract_table_list")
    contract_table.onclick = (e) => {
        var contract_main_row = e.target.closest(".table_contract_main_row"); 
        if (contract_main_row){
            var hidden_table_block = document.querySelector(`.${contract_main_row.id}`)
            console.log(hidden_table_block)
            if (hidden_table_block.style.display == ""){
                console.log('here1')
                hidden_table_block.style.display = "none"
            }else{
                console.log('here2')
                hidden_table_block.style.display = ""
            }
            console.log(hidden_table_block)
        }
    }



      var today_date_elem = document.querySelector(".today_date")
      if (today_date_elem){
          today_date_elem.style.position = "relative"
          today_date_elem.innerHTML  = "<span style='position:absolute; top:-20px; left: 35%' class='today_date_pointer'>today</span>" + today_date_elem.innerHTML
      }
  </script>



{% endblock %}
