
<div class="block_contract" style=" background: #fff; padding: 0 20px 20px 20px;">
    {{contract|safe}}
</div>



<script type="text/javascript">
    var block = document.querySelector('.block_contract')
    
    var contractDiv = block.querySelector(".contract_div")
    contractDiv.style.height = "{{first}}";

    var companyDiv = block.querySelector(".company_div")
    companyDiv.style.height = "{{second}}";

    var hospitalityDiv = block.querySelector(".hospitality_div")
    hospitalityDiv.style.height = "{{third}}";

    var technicalDiv = block.querySelector(".technical_div")
    technicalDiv.style.height = "{{forth}}";

</script>


