{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block messages %}{% endblock messages %}

{% block title %}
      <title>Create Contract: {{customer.name}}</title>
{% endblock title %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/contract_form.css' %}">
{% endblock link %}

{% block content %}


<form method="POST" class="contract_form" enctype="multipart/form-data">{% csrf_token %}
<div class="row g-0">
  <div class="col-lg-8 pe-lg-2">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center" >
        <h5 class="mb-0">Contract</h5>
        <div class="add_ability d-flex justify-content-between align-items-center" 
            >
        </div>
        
      </div>
      <div class="card-body bg-light">
          <div class="row gx-2">
            
            <div class="col-6 mb-3">
              <label class="form-label" for="form.customer">Customer</label>
              <input type="text" class="form-control" disabled value="{{customer}}">
            </div>
            <div class="col-6 mb-3">
              <label class="form-label" for="form.artist">Artist</label>
              <input type="text" class="form-control" disabled value="{{artist}}">
            </div>
            <div class="col-6 mb-3">
              <label class="form-label" for="form.venue">Venue</label>
              {{ form.venue|add_class:'form-control'}}
              <div class="form-error">
                {{ form.venue.errors }}
              </div>
            </div>
            <div class="col-6  mb-3">
              <label class="form-label" for="form.company">Company</label>
              {{ form.company|add_class:'form-control'}}
              <div class="form-error">
                {{ form.company.errors }}
              </div>
            </div>
            <div class="col-6 mb-3">
              <label class="form-label" for="form.company">Honorar</label>
              {{ form.price|add_class:'form-control'}}
              <div class="form-error">
                {{ form.price.errors }}
              </div>
            </div>
            <div class="col-6 mb-3">
              <label class="form-label" for="form.company">Date</label>
              {{ form.date|add_class:'form-control datetimepicker'}}
              <div class="form-error">
                {{ form.date.errors }}
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="form.company">Payment Methods</label>
              {{ form.payment_methods|add_class:'form-control'}}
              <div class="form-error">
                {{ form.payment_methods.errors }}
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="form.company">Comment</label>
              {{ form.comment|add_class:'form-control'}}
              <div class="form-error">
                {{ form.comment.errors }}
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label" for="form.company">Aditional</label>
              {{ form.aditional_staff}}
              <div class="form-error">
                {{ form.aditional_staff.errors }}
              </div>
            </div>
           
            
            <button class="btn btn-primary me-1 mb-1 buttonSubmit" type="submit">To Contract</button>
          </div>
      </div>
    </div>

  </div>

  
</div>

</form>


<div id="contentPopup" class="popup-wrapper">

  <!-- Modal content -->
  <div class="popup-content">
    <a href="" class="yes">YES</a>
    <a href="" class="no">NO</a>
    <h2 class="popupTitle">Warning</h2>
    <p >This is artist busy date, his action is "<span class="message_text">{{error_message}}</span>"</p>
    <span>Make contract anyway?</span>
  </div>

</div>



<script>

  var contract_id = "{{contract_id}}"
  var btnYES = document.querySelector(".yes")
  btnYES.onclick = (e) =>{
    e.preventDefault()
    var url = `{% url 'customer_get_contract' contract_id %}`
    document.location.href = url

  }
  var btnYES = document.querySelector(".no")
  btnYES.onclick = (e) =>{
    e.preventDefault()
    var url = `{% url 'customer_edit_contract' contract_id %}`
    document.location.href = url

  }

  var contentPopup = document.getElementById('contentPopup');

  // Get the button that opens the contentPopup
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the contentPopup
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the contentPopup
    contentPopup.style.display = "block";

  // When the user clicks on <span> (x), close the contentPopup


  var id_aditional_staff = document.getElementById("id_aditional_staff")
  id_aditional_staff.style.cssText = `
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  `

</script>

{% endblock %}
