{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}

{% block link %}
    <link rel="stylesheet" href="{% static  'css/artist_events.css' %}">
{% endblock link %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">All Events</h5>
      </div>
    
  
    </div>
  </div>
  <div class="card-body bg-light pb-0">
    <div class="table-responsive scrollbar">
      {% if events|length %}
      <div class="container">
        <div class="row" id="main">
            {% for event in events %}

            <div class="card mb-3" style="max-width: 1800px;">
                <div class="row g-0" id="row_row">
                    <div class="col-md-4" id="col_header" style="margin-bottom: 30px;">
                        <div class="card-header">
                            Event: <i>{{event.name}}</i>
                        </div>
                        {% if event.venue|get_image %}
                            <img src="{{ event.venue|get_image }}" width="600px" class="img-fluid rounded-start" alt="...">
                        {% else %}
                            <img src="{% static 'venue_default.jpg' %}" width="600px" class="img-fluid rounded-start" alt="...">
                    
                        {% endif %}
                    </div>
            
                    <div class="col-md-8">
            
                        <div class="card-body" >
                            <h5 class="card-title">{{elem.title}}</h5>
                            <p class="card-text">{{elem.content}}</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-secondary" href="{% url 'get_event_details' event.id %}">Read more</a>
                            </div>
                            <div class="block">
                                <div class="col-lg-12">
                                    <label style=" color:black" class="form-label" for="date">Date:</label>
                                    <p>{{event.date}}</p>
                                  </div>
                                  <div class="col-lg-6">
                                    <label style=" color:black" class="form-label" for="price">Opening:</label>
                                    <p>{{event.opening}}</p>
                                  </div>
                                  <div class="col-lg-10">
                                    <label style=" color:black" class="form-label" for="">Closing:</label>
                                    <div class="block_reqponsib_list" style="display: flex; justify-content:space-between">
                                        <p>{{event.closing}}</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

      {% else %}
        <p class="mb-4">This company does not participate in any event</p>

      {% endif %}
    </div>
  </div>
  
  </div>
{% endblock %}
