{% extends 'base/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load artist_tags %}

{% block link %}
    <link rel="stylesheet" href="{% static  'css/artist_events.css' %}">
{% endblock link %}

{% block title %}
      <title>Contracts: {{company.name}}</title>
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto align-items-center pe-0" style="display: flex; justify-content: space-between; width: 98%">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Company: <a href="{% url 'get_company_details' company.id %}">{{company.name}}</a></h5>
        <div class="block" style="margin-bottom: -20px;">
            {% if visible %}
                <ul class="align-items-center" type="none" style="display: flex; gap:10px; justify-content:space-between;">
                    {% if today_today not in week_days_list %}
                        <li style="font-size: 10px;  background: wheat;" class="btn">
                            <a style="color: blue"  href="{% url 'get_company_contracts' company.id today_today %}">
                                today
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item "><a class="page-link " href="{% url 'get_company_contracts' company.id today_date|get_date_with_time_delta:-7%}" aria-label="Previous"><span class='btn btn-danger' aria-hidden="true">&laquo;</span><span class="sr-only "></span></a></li>
                    {% for elem in week_days_list %}
                        {% if elem == today_today %}
                            
                            {% if elem == today_date %}
                                <li style="font-size: 9px;  box-shadow: 0 0 10px black;" class="btn today_date" id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_company_contracts' company.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li style="font-size: 9px; " class="btn today_date" id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_company_contracts' company.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if elem == today_date %}
                                <li style="font-size: 9px; box-shadow: 0 0 10px black;" class="btn" id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_company_contracts' company.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li style="font-size: 9px;" class="btn " id="{{elem|get_day_name}}">
                                    <a  href="{% url 'get_company_contracts' company.id elem %}">
                                        <div class="day_name">
                                            {{elem|get_day_name}}
                                        </div>
                                        <div class="date_date">
                                            {{ elem }}
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    
                    {% endfor %}
                    <li class="page-item "><a class="page-link " href="{% url 'get_company_contracts' company.id today_date|get_date_with_time_delta:7%}" aria-label="Previous"><span class='btn btn-danger' aria-hidden="true">&raquo;</span><span class="sr-only "></span></a></li>
                    
                </ul>
            {% else %}
                <a href="{% url 'get_company_contracts' company.id today_today %}" class="btn btn-success">Visible</a>
            {% endif %}
        </div>
      </div>
  
    </div>
  </div>
  <div class="card-body bg-light pb-0">
    <div class="table-responsive scrollbar">
      {% if contracts|length or upcoming_contracts %}
        {% if contracts|length %}
            <div class="container">
                <div class="row" id="main">
                    

                    <div class="card mb-3" style="max-width: 1800px;">
                        <div class="row g-0" id="row_row">
                            <table class="table table-hover table-striped overflow-hidden contract_table_list">
                            <thead>
                                <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Venue</th>
                                <th score="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contract in contracts %}
                                    <tr class="align-middle table_contract_main_row" id="{{contract.id|get_name_hidden_block_contract}}">
                                        <td>{{contract.date}}</td>
                                        
                                        <td><div class="block">
                                            <a href="{% url 'artist_details' contract.artist.id -1 %}">{{contract.artist.name}}</a>
                                        </div></td>
                                        <td><div class="block">
                                            <a href="{% url 'customer_details' contract.customer.id %}">{{contract.customer.name}}</a>
                                        </div></td>
                                        <td><div class="block">
                                            <a href="{% url 'get_venue_details' contract.venue.id %}">{{contract.venue.name}}</a>
                                        </div></td>
                                        
                                        <td>{{contract.price}} <span>NOK</span></td>
                                    </tr>
                                    <tr class="{{contract.id|get_name_hidden_block_contract}}" style="display: none;">
                                        <td colspan="6">
                                            <div class="block" style="display: flex; justify-content:space-around; width: 100%">
                                                {% if contract.contract_pdf_url %}
                                                    <a class="btn btn-success" target="blank" href="{{contract.contract_pdf_url}}">Contract</a>
                                                {% else %}
                                                    <a class="btn btn-success disabled" target="blank" href="{{contract.contract_pdf_url}}">Contract</a>
                                                {% endif %}
                                                {% if user|is_allowed_to_change:contract %}
                                                    {% if not visible %}
                                                        <a class="btn btn-warning" href="{% url 'unhide_artist_company_contract' contract.id  %}">Unhide</a>
                                                    {% else %}
                                                        <a class="btn btn-warning" href="{% url 'hide_artist_company_contract' contract.id today_date %}">Hide</a>
                                                    {% endif %}
                                                    <a class="btn btn-info" href="{% url 'customer_edit_contract' contract.id %}">Edit</a>
                                                {% endif %}
                                                <a class="btn btn-secondary" href="{% url 'preview_artist_contract' contract.id %}">Read more</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                    
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endif %}
      

        {% if not hidden %}
            {% if upcoming_contracts %}
                <h4 style="">Upcoming Event</h4>
                    <div class="container">
                        <div class="row" id="main">
                            <div class="card mb-3" style="max-width: 1800px;">
                                <div class="row g-0" id="row_row">
                                    <table class="table table-hover table-striped overflow-hidden contract_table_list">
                                    <thead>
                                        <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Artist</th>
                                        <th scope="col">Venue</th>
                                        <th score="col">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for contract in upcoming_contracts %}
                                            <tr class="align-middle table_contract_main_row" id="{{contract.id|get_name_hidden_block_contract}}">
                                                <td>{{contract.date}}</td>
                                                
                                                <td><div class="block">
                                                    <a href="{% url 'customer_details' contract.customer.id %}">{{contract.customer.name}}</a>
                                                </div></td>
                                                <td><div class="block">
                                                    <a href="{% url 'artist_details' contract.artist.id -1 %}">{{contract.artist.name}}</a>
                                                </div></td>
                                                <td><div class="block">
                                                    <a href="{% url 'get_venue_details' contract.venue.id %}">{{contract.venue.name}}</a>
                                                </div></td>
                                                
                                                <td>{{contract.price}} <span>NOK</span></td>
                                            </tr>
                                            <tr class="{{contract.id|get_name_hidden_block_contract}}" style="display: none;">
                                                <td colspan="6">
                                                    <div class="block" style="display: flex; justify-content:space-around; width: 100%">
                                                        {% if contract.contract_pdf_url %}
                                                            <a class="btn btn-success" target="blank" href="{{contract.contract_pdf_url}}">Contract</a>
                                                        {% else %}
                                                            <a class="btn btn-success disabled" target="blank" href="{{contract.contract_pdf_url}}">Contract</a>
                                                        {% endif %}
                                                        {% if user|is_allowed_to_change:contract %}
                                                            {% if not visible %}
                                                                <a class="btn btn-warning" href="{% url 'unhide_artist_company_contract' contract.id  %}">Unhide</a>
                                                            {% else %}
                                                                <a class="btn btn-warning" href="{% url 'hide_artist_company_contract' contract.id today_date %}">Hide</a>
                                                            {% endif %}
                                                            <a class="btn btn-info" href="{% url 'customer_edit_contract' contract.id %}">Edit</a>
                                                        {% endif %}
                                                        <a class="btn btn-secondary" href="{% url 'preview_artist_contract' contract.id %}">Read more</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            <p>There are no any upcoming events</p>
      {% endif %}
    </div>
    {% if visible %}
        <div class="block_flex mb-3" style="display: flex; justify-content:space-between; width:98%">
            <div class=""></div>
            <a href="{% url 'get_company_hiden_contracts' company.id %}" class="btn btn-success">Hiden</a>
        </div>
    {% endif %}
  </div>
  
  </div>


    <script>

        //table hidden block handle
        var contract_table = document.querySelector(".contract_table_list")
        contract_table.onclick = (e) => {
            var contract_main_row = e.target.closest(".table_contract_main_row"); 
            if (contract_main_row){
                var hidden_table_block = document.querySelector(`.${contract_main_row.id}`)
                console.log(hidden_table_block)
                if (hidden_table_block.style.display == ""){
                    console.log('here1')
                    hidden_table_block.style.display = "none"
                }else{
                    console.log('here2')
                    hidden_table_block.style.display = ""
                }
                console.log(hidden_table_block)
            }
        }

        var today_date_elem = document.querySelector(".today_date")
        today_date_elem.style.position = "relative"
        today_date_elem.innerHTML  = "<span style='position:absolute; top:-20px; left: 35%' class='today_date_pointer'>today</span>" + today_date_elem.innerHTML
    </script>


{% endblock %}
