{% extends 'base/auth_base.html' %} {% load static %} {% load widget_tweaks %} {%
{% block content %}
<script type="text/javascript">
    var loadFile = function (event) {
        var image = document.getElementById("cover_img");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script type="text/javascript">
    var loadFile2 = function (event) {
        var image = document.getElementById("Contact_img");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

{% if form.errors %} {% for field in form %} {% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %} {% endfor %} {% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %} {% endif %} 

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Change password</h5>
                </div>
                <div class="card-body bg-light">
                    <div class="row gx-2">
                        <div class="col-12 mb-3">
                            <label class="form-label" for="first_name"
                                >Current password</label
                            >
                            {{ form.old_password|add_class:'form-control'}}
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label" for="last_name"
                                >New password</label
                            >
                            {{ form.new_password1|add_class:'form-control'}}
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label" for="email"
                                >Confirm password</label
                            >
                            {{ form.new_password2|add_class:'form-control text-lowercase'}}
                        </div>
                        <button class="btn btn-primary me-1 mb-1" type="submit">
                            Change password
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ps-lg-2">
            <div class="card mb-lg-0">
                <div class="card-header">
                    <h5 class="mb-0">Passordkrav</h5>
                </div>
                <div class="card-body bg-light">
                    <p>Password should not be similar to username</p>
                    <p>Minimum length is 8</p>
                    <p>Should not be commin</p>
                    <p>Password should be consist of numbers and letters</p>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
