{% extends 'base/auth_base.html' %} {% load static %} 
{% load artist_tags %}
{% block content %}

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="card-body fs--1 border-top border-200 p-0" id="emails">
            {% if artist_messages|length %}
                <div class="artist_massages">
                    <h6 class="fs-0 px-3 pt-3 pb-2 mb-0 border-bottom border-200">Artist</h6>
                    {% for message in artist_messages %}
                        {% message_creator message=message user=user type_of_user='artist' link='artist_details' message_type_id=message.artist.id %}
                    
                    {% endfor %}
                </div>
            {% endif %}
            {% if customer_messages|length  %}
                <div class="customer_massages">
                    <h6 class="fs-0 px-3 pt-3 pb-2 mb-0 border-bottom border-200">Customers</h6>

                    {% for message in customer_messages %}
                        {% message_creator message=message user=user type_of_user='artist' link='customer_details' message_type_id=message.customer.id %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if venue_messages|length  %}
                <div class="customer_massages">
                    <h6 class="fs-0 px-3 pt-3 pb-2 mb-0 border-bottom border-200">Venues</h6>

                    {% for message in venue_messages %}
                        {% message_creator message=message user=user type_of_user='venue' link='get_venue_details' message_type_id=message.venue.id %}
                    {% endfor %}
                </div>
            {% endif %}
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


  </body>

{% endblock content %}

