{% extends 'base/auth_base.html' %} {% load static %}
{% load i18n %}

{% block content %}

<div class="block" style="text-align: center;">
    {% if user.is_staff %}
        <p>{% trans "You have access to create whatever you want" %}</p>
    {% else %}
        <p>{% trans message2 %}</p>
    {% endif %}
</div>

<div class="block d-flex" style=" justify-content:center; align-items:center; height:500px" >
    {% if user.is_staff %}
        <div  style="font-size: 160px; color:green" class="far fa-check-circle"></div>
    {% else %}
        <div  style="font-size: 160px;" class="far fa-check-circle"></div>
    {% endif %}
</div>

<script type="text/javascript">
   
  </script>

{% endblock content %}
