<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="block">
        <h4>Dear User</h4>
        <p style="margin-bottom: 0;">{{sender.get_full_name}} would love to invite you </p>
        <p style="margin-bottom: 0;">to edit {{customer.name}}</p>
        <p>Feel free to follow <a href="{{host}}:{{port}}/customer/{{customer.id}}/details_non_user/{{non_user.id}}/">link to visit site</a></p>
    </div>
</body>
</html>